{% extends 'base.html' %}

{% block content %}
{% load static %}

<a class="btn btn-success" href="{%  url 'onlyfans_new_table'  %}" role="button">Create Table</a>

{% for table in form %}
    {% if table.table_type == 1%}
    <p> {{table.operator}}</p>
    <table class="table table-bordered">
  <thead>
  <th>Clients</th>
    <th width="2%">   </th>
    {% for i in month %}
    <th>{{i}}</th>
    {% endfor %}
  </thead>
      <tfoot>
      <th>Sum</th>
      <th>   </th>
      {% for i in month %}
      <th width="2%" ></th>
      {% endfor %}
      </tfoot>

        <tbody>
        <tr>
        <th rowspan="2">{{table.client.name}} {{table.client.surname}}</th>
            <form method="GET">
                <input type="hidden" name="table_id" value={{table.id}}>
                <input type="hidden" name="data_type" value="FP">
                <button type="submit" class="btn btn-primary">Submit</button>
            </form>
            <td width="2%">FP</td>
            {% for i in month %}
            <td width="3%">
                {% if data %}
                <p>{{ i }} PIZDA</p>
                <form method="POST" class="post-form">
                    {% csrf_token %}
                    <input name='value' type="text" style="width: 25px; height: 20px;">
                    <input type="hidden" name ='day' value={{i}}>
                    <input type="hidden" name ='type' value="FP">
                    <input type="hidden" name ='table_id' value={{table.id}}>
                    <button type="submit" class="btn btn-primary">Submit</button>
                </form>
                {% else %}
                {{ data }}
                {% endif %}
            </td>
            {% endfor %}
        </tr>
        <tr>
            <form method="GET" action="get_data">
                <input type="hidden" name="table_id" value={{table.id}}>
                <input type="hidden" name="data_type" value="PP">
            </form>
            <td width="2%">PP</td>
            {% for i in month %}
            <td width="2%">
                {% if data|length == 0 %}
                <form method="POST" class="post-form">
                    {% csrf_token %}
                    <input name='value' type="text" style="width: 25px; height: 20px;">
                    <input type="hidden" name ='day' value={{i}}>
                    <input type="hidden" name ='type' value="PP">
                    <input type="hidden" name ='table_id' value={{table.id}}>
                    <button type="submit" class="btn btn-primary">Submit</button>
                </form>
                {% else %}
                {{ data }}
                {% endif %}
            </td>
            {% endfor %}
        </tr>
        </tbody>
</table>
{% else %}

<p> {{table.operator}}</p>
    <table class="table table-bordered">
  <thead>
  <th>Clients</th>
    <th width="2%">   </th>
    {% for i in month %}
    <th>{{i}}</th>
    {% endfor %}
  </thead>
      <tfoot>
      <th>Sum</th>
      <th>   </th>
      {% for i in month %}
      <th width="2%" ></th>
      {% endfor %}
      </tfoot>

        <tbody>
        <tr>
        <th>{{table.client.name}} {{table.client.surname}}</th>
            <td width="2%">OP</td>
            <form method="GET">
                <input type="hidden" name="table_id" value={{table.id}}>
                <input type="hidden" name="data_type" value="OP">
            </form>
            {% for i in month %}
            <td  width="3%" class="day_of_month">
                5
            </td>
            {% endfor %}
        </tr>
        </tbody>
</table>
{% endif %}
{% endfor %}

</form>



<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
<script src="{% static 'script.js' %}"></script>

{% endblock %}




