{% extends 'base.html' %}

{% block content %}
{% load static %}

<a class="btn btn-success" href="{%  url 'onlyfans_new_table'  %}" role="button">Create Table</a>


{% for table in form %}

<table class="table table-bordered">
    <thead>
    <th>Clients</th>
    <th width="2%"></th>
    {% for i in month %}
    <th>{{i}}</th>
    {% endfor %}
    </thead>
    <tfoot>
    <th>Sum</th>
    <th></th>
    {% for i in month %}
    <th width="2%"></th>
    {% endfor %}
    </tfoot>


    {% for client_table in table.values %}
    {% if client_table.table.table_info.table_type == True %}
    <tbody id={{client_table.table.table_info.id}}>
    <tr>
        <th rowspan="2">{{client_table.table.table_info.client_name}} {{client_table.table.table_info.client_surname}}
        </th>
        <td class="table_type">FP</td>
        {% for i in month %}
        <td width="3%" class="day_of_month" onmouseover="this.style.backgroundColor='#FDF5E6'"
            onmouseout="this.style.backgroundColor='#ffffff'">
            {% for info in client_table.table.table_data %}
            {% if info.day == i%}
            <p>{{info.data}}$</p>
            {% endif %}
            {% endfor %}
        </td>
        {% endfor %}
    </tr>
    <tr>
        <td class="table_type">PP</td>
        {% for i in month %}
        <td width="3%" class="day_of_month" onmouseover="this.style.backgroundColor='#FDF5E6'"
            onmouseout="this.style.backgroundColor='#ffffff'">
            {% for info in client_table.table.table_data %}
            {% if info.day == i%}
            <p>{{info.data}}$</p>
            {% endif %}
            {% endfor %}
        </td>
        {% endfor %}
    </tr>
    </tbody>


    {% else %}
    <tbody id={{client_table.table.table_info.id}}>
    <tr>
        <th>{{client_table.table.table_info.client_name}} {{client_table.table.table_info.client_surname}}</th>
        <td class="table_type">OP</td>
        {% for i in month %}
        <td class="day_of_month" onmouseover="this.style.backgroundColor='#FDF5E6'"
            onmouseout="this.style.backgroundColor='#ffffff'">
            {% for info in client_table.table.table_data %}
            {% if info.day == i%}
            <p id={{info.id}}>{{info.data}}$</p>
            {% endif %}
            {% endfor %}
        </td>
        {% endfor %}
    </tr>
    </tbody>
    {% endif %}
    {% endfor %}
    {% endfor %}
</table>
<script>
    var a = document.getElementsByClassName("day_of_month")

    function cellForm(method, element, index) {
        const action = method === "post" ? "table_data/" : `${index}`;
        return `<form action="${action}" id="${index}" method="${method}"> {% csrf_token %} <input name="data" value='${element.innerText}'><input type="hidden" name="date" value='${(index + 1) % 31}'><input type="hidden" name="data_type" value='${element.parentNode.querySelector(".table_type").textContent}'><input type="hidden" name="table" value='${element.closest("tbody[id]").id}'><input type="submit" style="position: absolute; left: -9999px"/></form>`
    }

    function putInput(element, index) {
        return `<input value="${element.innerText}" id="${index}"> {% csrf_token %} `
    }

    function sendPut(inputValue, index, inputId,CSRFtoken){

        const dayOfMonth = (index + 1) % 31;

        fetch(`table_data/${inputId}/`,{
        method:'PATCH',
            headers:{
            'Content-Type':'application/json',
                'X-CSRFToken': CSRFtoken
            },
                body:JSON.stringify({
            'x-csrf-token': CSRFtoken,
                    'data': inputValue,
        }),
        }).then(
            document.getElementById(inputId).innerText = 'hui')

    }

    for (let i = 0; i < a.length; i++) {
        a[i].setAttribute('id', i + 1);

        a[i].addEventListener('dblclick', () => {
            if (!a[i].innerText.trim()) {
                a[i].innerHTML = cellForm("post", a[i], i);
            } else {
                const index = a[i].getElementsByTagName('p')[0].id;
                a[i].innerHTML = putInput(a[i], index);
                const inputElement = a[i].getElementsByTagName("INPUT")[0];
                const inputId = inputElement.id;
                const token = a[i].getElementsByTagName('input')[1].value
                inputElement.addEventListener("keypress", (event) => {
                    if (event.code === "Enter") {
                        sendPut(inputElement.value, index, inputId, token);
                    }
                })
            }
        });
    }

            table_list = document.getElementsByClassName('table table-bordered')
            for (let i = 0; i < table_list.length; i++) {
                days_list = table_list[i].getElementsByClassName('day_of_month')
                for (let a = 0; a < days_list.length; a++){
                    if (days_list[a].id % 30 === 1){
                        console.log(days_list[a])
                    }
                }
    }


</script>
{% endblock %}


